.Links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.Footer .Links a {
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
}

.author {
    font-size: xx-small;
}

.Footer {
    background-image: linear-gradient(to right, #642B73 0%, #C6426E  51%, #642B73  100%);
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;

}

.pagination {
    list-style: none;
    display: inline-block;
}

.page-item a {
    /* color: white;
    float: left;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 5px; */
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
}


  .page-item {
      display: inline-block;
      padding: 0px 5px;
      
      
  }
  a.active {
    /* background-color: #4CAF50; */
    /* color: white;
    text-decoration: underline;

    background-image: none; */
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }
  
  /* .page-item a:hover:not(.active) {filter: brightness(80%);}   */