.row__container {
    /* display: flex;
    justify-content: center; */
    max-width: 58%;
    margin: 0 auto;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 7px 2px black;
    /* grid-template-columns: 20% 60% 20%; */
    /* grid-template-rows: 260px; */
    min-height: 260px;

}

.row {
    position: relative;
}


.row__title {
font-weight: 700;
position: absolute;
top: 10px;
left: 70px;
transform: rotateZ(90deg) translateX(81px) translateY(131px);
background: rgb(190 212 11 / 82%);
border-radius: 5px;
padding: 5px 25px;
box-shadow: 2px 2px 2px black;
width:180px;
}


.row__posters {
padding-bottom: 5px;
padding-top: 25px;
margin-left: 15px;
cursor: pointer;
/*commented to fix rows at home screen overflowing
/* height: 222px; 
width: 825px; */
}

.row__posters img{
width:150px;
height: 218px;
margin-right: 15px;
transition:transform .2s cubic-bezier(.34,2,.6,1),
box-shadow .1s ease,
-webkit-transform .2s cubic-bezier(.34,2,.6,1)
}

.row__posters img:hover {
transform: translateY(-10px);    }
    


.more {
    position: absolute;
    margin-right: 15px;
    font-weight: bold;
    background-color: black;
    padding: 5px 15px;
    border-radius: 5px;
    transform: rotateZ(90deg);
    right: -45px;
    bottom: 37px;
}

.more a {
    color: orange;
    text-decoration: none;
}