
.BackBtn{
    padding: 4px 35px;
    background: #f2ff1f;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: inset -1px 2px 4px #1b1b08;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    transition: background 0.2s ease-out;
    position: fixed;
    top: 5px;
    right: 10px;
    cursor: pointer;
    z-index: 5;
    /* transform: translateX(54px);
    transition: transform 0.5s ease-in-out; */
}

.BackBtn:hover{
    padding: 4px 35px;
    background: #fbff04;
    opacity: 0.8;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: inset -1px 2px 4px #1b1b08;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(0px);
}